.card{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 10px;
}
.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.cardImage{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 3px;
    border-radius: 10px;
}

.title-song{
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
    padding-left: 10px;
    
}

.artist{
    font-size: 15px;
    padding-left: 10px;
}

.albums{
    font-size: 10px;
    padding-left: 10px;
}   
button{
    margin-bottom: 15px;
    background: none;
    background-color: rgb(72, 72, 216);
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-family: inherit;
}
button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}